html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.front {
  background-color: rgb(210, 95, 19);
  text-align: center;

  h1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: blueviolet;
  }
}

.back {
  background-color: rgb(5, 190, 58);

}